{% extends "include/base.html" %}
{% block main_area %}
로그인 페이지입니다.
<br>
 
<form name="flogin" method="post">
{% csrf_token %}
아이디 : <input type="text" name="username">
비밀번호 : <input type="password" name="password">
 
<br><br>
<input type="button" value="로그인" type="submit" onclick=loginChk()>
<input type="button" value="회원가입" onclick="location.href='/auth/register/'">
</form>
 
<script>
function loginChk() {
    var form = document.flogin;
    if (form.username.value=="") {
        alert("회원 아이디를 입력해 주십시오.");
        form.member_id.focus();
        return;
    }
    if (form.password.value=="") {
        alert("비밀번호를 입력해 주십시오.");
        form.passwd.focus();
        return;
    }
    form.action = "/auth/login/";
    form.submit();
}
</script>
 
{% if message %}
<script>alert('{{ message }}');</script>
{% endif %}
{% endblock %}
